<?xml version="1.0"?>
<model>
  <name>jequitaia_ferry</name>
  <version>1.0</version>
  <sdf version='1.4'>model.sdf</sdf>

  <author>
    <name>Tiago Trocoli</name>
    <email>trocolit@gmail.com</email>
  </author>

  <description>
    Model to reproduce the wreck of Jequitaia's ferry.
  </description>
</model>
